.kg_embeddings_cache
unsloth_compiled_cache
ipo_models/
mpo_models/
*.pyc
*.out
.vscode/
cache
logs
tmp/
.env
save_models
dpo_models/
dpo_models_v2/
dpo_models_v3/
dpo_models_v4/
dpo_models_v5/
sft_models_v4/
sft_models/
sft_models_v2/
sft_models_v3/
cpo_models/
wandb/
data/
embeddings/
results/
.cursorrules